body {
    background-color: #3E6D9C;
    color: #001253;
}

.main-container {
    width: 550px;
    margin: 30px auto 10px;
}

h1 {
    font-size: 6rem;
    font-family: 'Teko', sans-serif;
}

.reset {
    width: 120px; 
    height: 100px;
    border-radius: 5px;
    background-color: #FD841F;
    font-size: 1.5rem;
    font-family: 'Teko', sans-serif;
}

.reset:hover {

}

.breakdown li div {
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
}

.large-buttons {
    width: 550px;
    margin: 10px auto;
    padding: 10px 0;
}

.large-buttons div {
    padding: 5px;
}

.large-buttons button {
    width: 120px; 
    height: 100px;
    border-radius: 5px;
    background-color: #FD841F;
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
}

.large-buttons button:hover, .reset:hover, .per:hover  {
    background-color: #E14D2A;
}

.custom-per {
    width: 150px;
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
    position: relative;
    left: 75px;
    top: 65px;
}

.blocks-per p {
    margin-left: 10px;
}

.per {
    margin: 10px 0 10px 10px;
    width: 120px; 
    height: 100px;
    border-radius: 5px;
    background-color: #FD841F;
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
}

.more-buttons {
    width: 550px;
    margin: 30px auto;
}

ul {
    list-style: none;
}

.active {
    background-color: #E14D2A;
}

.buttons-bottom {
    margin: 0 10px;
    width: 95px; 
    height: 70px;
    border-radius: 5px;
    background-color: #FD841F;
    font-family: 'Teko', sans-serif;
}

.form-bottom {
    height: 57px;
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
    margin: 0 5px;
}
